.logo {
      margin: 2rem 0 0 2rem;
      font-weight: bold;
}

.LogoFont {
      color: #212121;
}

.navBar {
      height: 8rem;
}

body {
      background: rgb(31, 29, 29);
}

.bodyHeight{
      height: 75vh;
}

.horizontalLine {
      height: 2px;
      color: #2d76be;
      background-color: #2d70b3;
      border: none;
}


/*
<div class="row">
                        <form class="col s12" onSubmit={this.onInputSubmit}>
                        <div class="row">
                              <div class="input-field col s10" style={{margin:'5vw 0 0 7vw'}}>
                              <input id="url" type="text" className="blue-text center"  />
                              <label for="url">URL</label>
                              </div>
                        </div>
                        </form>
                  </div>
                  <div class="row">
                        <div class="col s12">
                        <div class="row">
                              <div class="input-field col s10" style={{margin:'5vw 0 0 7vw'}}>
                              <input id="url" type="text" className="blue-text center"  style={{cursor:'copy'}} onClick={this.copyText}/>
                              <label for="url">SQUEEZED URL</label>
                              <span class="helper-text cyan-text">Click to copy.</span>
                              </div>
                        </div>
                        </div>
                  </div>
                  
                  
                  
                  copyText = () => {
            navigator.clipboard.writeText('hello there');
            return 
      }*/



      /*
      <footer class="center" style={{background:'rgb(31, 29, 29)', margin:'0 0 0 8vw'}}>
            <div class="j">
              <div class="row">
                <div class="col l6 s12">
                <a class="grey-text text-lighten-3" href="https://github.com/duckduck-dev" style={{fontSize:'2rem', position:'absolute'}}><i  class='fab fa-github' ></i></a>
                  <h5 class="white-text" style={{ margin :'3rem 0 0 0'}}>contact</h5>
                  <a class="blue-text text-lighten-2" href="mailto:soundarsurya58@gmail.com?subject=contact">soundarsurya58@gmail.com</a>
                </div>
              </div>
            </div>
          </footer>*/